{% extends wikimusic_base_html %}
{% block content %}
<style>
    #content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
</style>
<h1 style="margin-bottom: 30px;"> Registration of a new concert.</h1>
{% if errorMsg %}
<div class="alert alert-danger" role="alert">
    {{errorMsg}}. Please, try again
</div>
{% endif %}

<form action="{% url 'wikimusic-r-concert' artist.idArtist %}" method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="container" style="margin-left: 20px;">
        <div class="row" >
            <div class="col">
                <div class="mb-3">
                    {{ form.concertName.errors }}
                    <label class="form-label" for="{{ form.concertName.id_for_label }}">Concert name:</label>
                    {{ form.concertName }}
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    {{ form.location.errors }}
                    <label class="form-label" for="{{ form.location.id_for_label }}">Location:</label>
                    {{ form.location }}
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col">
                <div class="mb-3">
                    {{ form.date.errors }}
                    <label class="form-label" for="{{ form.date.id_for_label }}">Date:</label>
                    {{ form.date }}
                    <div class="form-text">Use mm:ss format</div>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    {{ form.time.errors }}
                    <label class="form-label" for="{{ form.time.id_for_label }}">Time:</label>
                    {{ form.time }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}